<%- include('./messages.ejs') %>
<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="table-responsive overflow-hidden">
      <h1>Machines List</h1>
      <form action="" class="text-left d-flex justify-content-end my-2">
        <select
          class="form-select w-25 mx-2"
          aria-label="Default select example"
        >
          <option value="1" selected disabled>Go to link</option>
          <option value="2">Delete Machine&#40;s&#41;</option>
          <option value="3">Set RAM</option>
          <option value="4">Set Hard Disk</option>
          <option value="5">Set CPU</option>
        </select>
        <button type="Submit" class="btn btn-primary waves-effect waves-ligh">
          Go
        </button>
      </form>
      <table class="table table-striped mb-0">
        <thead style="background-color: black; color: white">
          <tr>
            <th>ID</th>
            <th>IP</th>
            <th>Port</th>
            <th>User</th>
            <th>
              Password
              <input
                class="form-check-input"
                id="password-checkbox"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
            </th>
            <th>ST</th>
            <th>RAM</th>
            <th>Hard Disk</th>
            <th>CPU</th>
            <th>Comment</th>
            <% if (currentUser.is_admin) { %>
            <th></th>
            <% };%>
          </tr>
        </thead>
        <tbody>
          <% machines.forEach(machine => { %>
          <tr class="machine-row">
            <th scope="row" class="id align-middle"><%= machine.id %></th>
            <td class="ip align-middle">
              <a href="machine/<%= machine.id %>/servers"><%= machine.ip %></a>
            </td>
            <td class="port align-middle"><%= machine.port %></td>
            <td class="user align-middle">
              <%= machine['User.first_name'] %> <%= machine['User.last_name'] %>
            </td>
            <td class="password-tr align-middle">
              <span class="password-row blur"><%= machine.password %></span>
            </td>
            <td class="status align-middle">
              <% if(machine.status){ %>
              <i class="mdi mdi-checkbox-blank text-success"></i>
              <% } else{ %>
              <i class="mdi mdi-checkbox-blank text-danger"></i>
              <% } %>
            </td>
            <td class="ram align-middle"><%= machine.ram %></td>
            <td class="hard-disk align-middle"><%= machine.hard_disk %></td>
            <td class="cpu align-middle"><%= machine.cpu %></td>
            <td class="comment align-middle"><%= machine.comment %></td>
            <% if (currentUser.is_admin) { %>
            <td class="d-flex">
              <button
                class="btn btn-primary waves-effect waves-light mx-2"
                data-bs-target=".bs-example-modal-lg-machine-edit-details"
                data-bs-toggle="modal"
                href="#machine-edit-modal"
              >
                Edit
              </button>
              <form
                action="/machine/delete/<%= machine.id %>"
                id="machine"
                method="POST"
              >
                <button
                  class="btn btn-danger waves-effect waves-light"
                  type="submit"
                >
                  Remove
                </button>
              </form>
              <% };%>
            </td>
          </tr>
          <% });%>
        </tbody>
      </table>

      <div
        id="#machine-edit-modal"
        class="modal fade bs-example-modal-lg-machine-edit-details"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myLargeModalLabel"
        aria-hidden="true"
      >
        <%- include('./modal-title.ejs') %> <strong>Edit Machine</strong> <%-
        include('./modal-body.ejs') %>
        <div class="machine-edit" id="machine-edit"></div>
        <%- include('./modal-end.ejs') %>

        <!--  Modal content for the above example -->
        <div
          id="machine-details-modal"
          class="modal fade bs-example-modal-lg-machine-details"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <%- include('./modal-title.ejs') %>
          <strong>Machine Details</strong> <%- include('./modal-body.ejs') %>
          <div class="machine-details" id="machine-details"></div>
          <%- include('./modal-end.ejs') %> <%-
          include('./modal-button-start.ejs')
          %>data-bs-target=".bs-example-modal-lg-machine"<%-
          include('./modal-button-class.ejs') %> Add Machine %> <%-
          include('./modal-button-end.ejs') %>

          <!--  Modal content for the above example -->
          <div
            class="modal fade bs-example-modal-lg-machine"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myLargeModalLabel"
            aria-hidden="true"
          >
            <%- include('./modal-title.ejs') %> <strong>Add Server</strong> <%-
            include('./modal-body.ejs') %>
            <form
              class="form-horizontal"
              action="/machine/post"
              id="add-machine"
              method="POST"
            >
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-4">
                    <label class="form-label" for="ip">IP</label>
                    <input
                      type="text"
                      class="form-control"
                      id="ip"
                      name="ip"
                      placeholder="Enter IP"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="port">Port</label>
                    <input
                      type="text"
                      class="form-control"
                      id="port"
                      name="port"
                      placeholder="Enter Port"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="user">Select a User</label>
                    <select name="user" class="form-select" id="user">
                      <% users.forEach(user => { %>
                      <option value="<%= user.id %>">
                        <%= user.first_name %> <%= user.last_name %>
                      </option>
                      <% });%>
                    </select>
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="userpassword"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="userpassword"
                      name="password"
                      placeholder="Enter password"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="ram">Enter RAM</label>
                    <input
                      type="number"
                      class="form-control"
                      id="ram"
                      name="ram"
                      placeholder="Enter RAM"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="hard-disk"
                      >Enter Hard Disk</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="hard-disk"
                      name="hard_disk"
                      placeholder="Enter Hard Disk"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="cpu">Enter CPU</label>
                    <input
                      type="number"
                      class="form-control"
                      id="cpu"
                      name="cpu"
                      placeholder="Enter CPU"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="comment">Comment</label>
                    <input
                      type="text"
                      class="form-control"
                      id="comment"
                      name="comment"
                      placeholder="Enter Comment"
                    />
                  </div>

                  <div class="d-grid mt-4">
                    <button
                      class="btn btn-primary waves-effect waves-light"
                      type="submit"
                      name="action"
                      value="add-machine"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <%- include('./modal-end.ejs') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
