<div
  class="tooltip-column d-flex flex-sm-row flex-column align-items-center justify-content-center"
>
  <div class="tooltip-space mb-4 mb-md-0">
    <a
      type="button"
      class="btn btn-md btn-info"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top"
      href="/user"
    >
      User: <%= usersCount %>
    </a>
  </div>
  <div class="tooltip-space mb-4 mb-md-0">
    <a
      type="button"
      class="btn btn-md btn-success"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top"
      href="/payment"
    >
      Payment: 500
    </a>
  </div>
  <div class="tooltip-space mb-4 mb-md-0">
    <a
      type="button"
      class="btn btn-md btn-warning"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top"
      href="/server"
    >
      Servers: <%= serversCount %>
    </a>
  </div>
  <div class="tooltip-space mb-4 mb-md-0">
    <a
      type="button"
      class="btn btn-md"
      style="background: #ff647f; color: white"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top"
      href="/server"
    >
      Used Servers: <%= usedServersCount %>
    </a>
  </div>
  <div class="tooltip-space mb-4 mb-md-0">
    <a
      type="button"
      class="btn btn-md"
      style="background: #800080; color: white"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top"
      href="/server"
    >
      Free Servers: <%= freeServersCount %>
    </a>
  </div>

  <div class="tooltip-space mb-4 mb-md-0">
    <a
      type="button"
      class="btn btn-md btn-primary"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top"
      href="/server"
    >
      Active Servers: <%= activeServersCount %>
    </a>
  </div>
  <div class="tooltip-space mb-4 mb-md-0">
    <a
      type="button"
      class="btn btn-md btn-danger"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top"
      href="/server"
    >
      Disabled Servers: <%= disabledServersCount %>
    </a>
  </div>
</div>
