<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/main-page.css">
</head>

<body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
            <%- include('./includes/navigation.ejs') %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content" style="margin-left: 0px;">

                <div class="page-content no-padding-left no-padding-right" style="padding-top: 4rem;">
                    <div class="no-padding-left no-padding-right">

                        <%- include('./includes/jumbotron-start.ejs') %>
                        <h1 class="display-4 text-white py-4">Do you want to buy a Server?</h1>
                        <p class="lead text-white py-4">
                        Check out our affordable and cheap plans for web hosting and deployment services!
                        </p>
                        <%- include('./includes/jumbotron-end.ejs') %>

                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="text-center mb-5">
                                    <h4>Choose your Pricing plan</h4>
                                    <p class="text-muted">To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words If several languages coalesce</p>
                                </div>
                            </div>
                        </div>

                        <div class="row px-sm-0 px-md-2 px-lg-4">
                            <div class="col-xl-4 col-md-6">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex mb-1">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar-sm">
                                                    <span class="avatar-title rounded-circle bg-primary">
                                                        <i class="fas fa-cube font-size-20"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5 class="font-size-16">Bronze</h5>
                                                <p class="text-muted">1 month FREE trial</p>
                                            </div>
                                        </div>
                                        <div class="py-4 border-bottom">
                                            <div class="float-end plan-btn">
                                                <a href="/auth/signup" class="btn btn-primary btn-sm waves-effect waves-light">Sign up Now</a>
                                            </div>
                                            <h4><sup><small>$</small></sup> 10/ <span class="font-size-16">m</span></h4>
                                        </div>

                                        <div class="plan-features mt-4">
                                            <h5 class="text-center font-size-15 mb-4">Plan Features :</h5>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 1 Account</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 1 Project</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 100K API Access</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 100MB Storage</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> Custom Cloud Services</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> Weekly Reports</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex mb-1">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar-sm">
                                                    <span class="avatar-title rounded-circle bg-primary">
                                                        <i class="fas fa-trophy font-size-20"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            
                                            <div class="flex-grow-1">
                                                <h5 class="font-size-16">Silver</h5>
                                                <p class="text-muted">1 month FREE trial</p>
                                            </div>
                                        </div>
                                        <div class="py-4 border-bottom">
                                            <div class="float-end plan-btn">
                                                <a href="/auth/signup" class="btn btn-primary btn-sm waves-effect waves-light">Sign up Now</a>
                                            </div>
                                            <h4><sup><small>$</small></sup> 20/ <span class="font-size-16">m</span></h4>
                                        </div>

                                        <div class="plan-features mt-4">
                                            <h5 class="text-center font-size-15 mb-4">Plan Features :</h5>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 2 Accounts</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 5 Projects</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 100K API Access</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 200MB Storage</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> Custom Cloud Services</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> Weekly Reports</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex mb-1">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar-sm">
                                                    <span class="avatar-title rounded-circle bg-primary">
                                                        <i class="fas fa-shield-alt font-size-20"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5 class="font-size-16">Gold</h5>
                                                <p class="text-muted">1 month FREE trial</p>
                                            </div>
                                        </div>
                                        <div class="py-4 border-bottom">
                                            <div class="float-end plan-btn">
                                                <a href="/auth/signup" class="btn btn-primary btn-sm waves-effect waves-light">Sign up Now</a>
                                            </div>
                                            <h4><sup><small>$</small></sup> 35/ <span class="font-size-16">m</span></h4>
                                        </div>

                                        <div class="plan-features mt-4">
                                            <h5 class="text-center font-size-15 mb-4">Plan Features :</h5>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 5 Accounts</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 20 Projects</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 300K API Access</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> 500MB Storage</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> Custom Cloud Services</p>
                                            <p><i class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-primary me-2"></i> Weekly Reports</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                
                <%- include('./includes/full-width-end.ejs') %>                
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->
        </body>
    
        <%- include('./includes/scripts.ejs') %>

        <script src="assets/js/app.js"></script>

    </body>
</html> 
